{
  "WebhookFunction": {
    "DBUser": "root",
    "DBHost": "db",
    "DBPass": "password",
    "DBName": "academy15",
    "ChannelSecret": "XXX",
    "ChannelToken": "XXX",
    "OPENAIApiKey": "XXX"
  },
  "MigrateFunction": {
    "DBUser": "root",
    "DBHost": "db",
    "DBPass": "password",
    "DBName": "academy15",
    "DEEPLApiKey": "XXX"
  },
  "SearchFunction": {
    "DBUser": "root",
    "DBHost": "db",
    "DBPass": "password",
    "DBName": "academy15",
    "OPENAIApiKey": "XXX"
  },
  "ScheduleFunction": {
    "DBUser": "root",
    "DBHost": "db",
    "DBPass": "password",
    "DBName": "academy15",
    "DEEPLApiKey": "XXX"
  }
}