{
  "WebhookFunction": {
    "DBUser": "root",
    "DBHost": "db",
    "DBPass": "password",
    "DBName": "academy15",
    "ChannelSecret": "XXX",
    "ChannelToken": "XXX",
    "OPENAIApiKey": "XXX"
  },
  "MasterGarbageFunction": {
    "DBUser": "root",
    "DBHost": "db",
    "DBPass": "password",
    "DBName": "academy15"
  },
  "MasterUserFunction": {
    "DBUser": "root",
    "DBHost": "db",
    "DBPass": "password",
    "DBName": "academy15",
    "LineUserId": "XXX"
  },
  "GarbageItemFunction": {
    "DBUser": "root",
    "DBHost": "db",
    "DBPass": "password",
    "DBName": "academy15"
  },
  "GarbageItemDetailJaFunction": {
    "DBUser": "root",
    "DBHost": "db",
    "DBPass": "password",
    "DBName": "academy15"
  },
  "GarbageItemDetailEnFunction": {
    "DBUser": "root",
    "DBHost": "db",
    "DBPass": "password",
    "DBName": "academy15",
    "DEEPLApiKey": "XXX"
  },
  "GPTSearchFunction": {
    "DBUser": "root",
    "DBHost": "db",
    "DBPass": "password",
    "DBName": "academy15",
    "OPENAIApiKey": "XXX"
  },
  "BleveSearchFunction": {
    "DBUser": "root",
    "DBHost": "db",
    "DBPass": "password",
    "DBName": "academy15"
  },
  "BlugeSearchFunction": {
    "DBUser": "root",
    "DBHost": "db",
    "DBPass": "password",
    "DBName": "academy15"
  }
}